<!DOCTYPE html>
<html>
  <head>
    <title>Story Time!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <p>It has been said that a dog is mans best @Model.Noun . Dogs are very @Model.Adjective and can be taught many @Model.Adjective2 tricks. A dog can be trained to carry a @Model.Noun2 in its mouth. Dogs will even bark @Model.Adverb if someone tries to break in your house at night!</p>
  </body>
</html>