<!DOCTYPE html>
<html>
  <head>
    <title>Story Time!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <p>
        One day, @Model.Name went to the zoo, they saw lots of animals all around. Suddenly a giant bear appeared, it had escaped its exhibit! @Model.Name cried it was very frightening. Then @Model.Verb as quickly as possible to safety. @Model.Name could hear the bear munching on a giant @Model.Noun. What an @Model.Adjective noise! @Model.Name quickly @Model.Verb to the entrance of the zoo. @Model.Name managed to escape the @Model.Adjective zoo. I'm never going to that place again, exclaimed @Model.name. Let's go to @Model.Place next time! 
    </p>
  </body>
</html>